<div class="card-large">
  <%= link_to url_path do %>
    <%= image_tag item.image.variant(combine_options: {resize: '512x512^', extent: '512x512', gravity: 'Center'}), id: 'image' %>

    <div id="footer">
      <span><%= label %></span>
    </div>
  <% end %>
</div>
