<%= simple_form_for @seller do |f| %>
  <div class="field">
    <%= f.input :name, autocomplete: "name-seller" %>
  </div>

  <div class="field">
    <%= f.association :category, include_blank: false, autocomplete: "category" %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
