<%= render 'layouts/shared/search', label: 'Vendedores' %>

<div class="row">
  <% @sellers.each do |seller| %>
    <div class="col-3">
      <%= render 'layouts/shared/card', item: seller, label: seller.name, url_path: seller_products_path(seller) %>
    </div>
  <% end %>
</div>

<%= paginate @sellers %>
