.card-large{
  margin-bottom: 30px;

  #image{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
  }
  #footer{
    height: 30px;
    background: #81259D;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    align-items: center;
    flex-direction: row;

    span{
      padding: 0px 20px;
      margin: auto;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  a{
    color: white;
  }
}