
@media screen and (min-width: 992px){
  .my-navbar{
    background-color: #81259D;

    .logo{
      width: 56px;
      margin-right: 15px;
    }
    .navbar-brand{
      font-size: 26px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 991px){
  .my-navbar{
    background-color: #81259D;
    min-height: 200px;
  }

  .navbar-toggler{
    width: 100px;
    height: 100px;
  }

  .navbar-brand{
    font-size: 52px !important;
  }

  .nav-link{
    font-size: 36px;
  }

  .logo{
    width: 112px;
    height: 112px;
    margin-right: 15px;
  }
  .navbar-brand{
    font-size: 26px;
    font-weight: bold;
  }

  .link_flag img{
    width: 60px;
    height: 60px;
  }
}