.card_order + .card_order{
  margin-top: 30px;
}

.card_order{
  #second{
    h3{
      font-weight: bold;
    }
    p{
      margin-bottom: 0.1rem;
    }
  }
  #third{
    display: flex;
    flex-direction: column;
    align-items: center;
    h4{
      font-weight: bold;
      text-align: center;
    }
  }
}

.title_orders{
  margin-top: 40px;
}

.col-note-order{
  word-break: break-all;
}

.col-status-order{
  display: flex;
  flex-direction: column;
  align-items: center;
}