.col-image{
  img{
    width: inherit;
  }
}

.info-product p, .order-product{
  font-weight: bold;
}

.description-product{
  margin-top: 30px;
}

.title_for_products{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  color: #999;
}
