.profile-pic-rounded{
  width: inherit;
  border-radius: 50%;
}

.card-review{
  h3{
    font-weight: bold;
    margin-right: 50px;
  }
  span{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0.5rem;
    font-weight: bold;
    img{
      margin-right: 20px;
    }
  }
}

.new_or_edit_link a, .link_delete_review a{
  float: right;
}