.rating{
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  span{
    margin-left: 10px;
  }
}

.info-seller{
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0px;
}

.description-seller #description{
  margin-top: 20px;
}

.icon-star{
  height: 30px;
}

.icon-social{
  height: 50px;
}