<%= render 'layouts/shared/search', label: 'Categoria', url: categories_path %>

<%= link_to I18n.t('category.link.all_product', current_user.university.abbreviation), products_path %>

<div class="row">
  <% @categories.each do |category| %>
    <div class="col-3">
      <%= render 'layouts/shared/card', item: category, label: category.name, url_path: category_products_path(category) %>
    </div>
  <% end %>
</div>

<%= paginate @categories %>
