<%= render 'layouts/shared/search', label: 'Categoria', url: categories_path %>

<%= link_to I18n.t('category.link.all_products', abbreviation: current_user.college.university.abbreviation, name: current_user.college.name), products_path %>

<div class="row">
  <% @categories.each do |category| %>
    <div class="col-sm-6 col-md-6 col-lg-3">
      <%= render 'layouts/shared/card', item: category, label: category.name, url_path: category_products_path(category) %>
    </div>
  <% end %>
</div>

<%= paginate @categories %>
