<div class="container col-12">
  <div class="row footer">
    <div class="col-lg-6 col-8" id="left">
      <span><%= link_to I18n.t('footer.about_us').upcase, about_path %></span>
      <span><%= link_to I18n.t('footer.contact').upcase, contact_path %></span>
      <span><%#= I18n.t('footer.privacy_policy').upcase %></span>
    </div>

    <div class="col-lg-6 col-4" id="right">
      <span><%= "#{I18n.t('footer.copyright')} #{Date.today.year} #{I18n.t('footer.by_author')}" %></span>
    </div>
  </div>
</div>
