<div class="container">
  <div class="row footer">
    <div class="col-6" id="left">
      <span><%= I18n.t('footer.about_us').upcase %></span>
      <span><%= I18n.t('footer.licenses').upcase %></span>
      <span><%= I18n.t('footer.privacy_policy').upcase %></span>
    </div>

    <div class="col-6" id="right">
      <span><%= "#{I18n.t('footer.copyright')} #{Date.today.year} #{I18n.t('footer.by_author')}" %></span>
    </div>
  </div>
</div>
