<%= simple_form_for @order_product do |f| %>
  <%= f.hidden_field :product_id, value: params[:id] %>
  <div class="field">
    <%= f.input :quantity, autocomplete: 'quantity', input_html: { min: 1, value: f.object.quantity || '1' } %>
  </div>

  <div class="actions">
    <%= f.button :submit, I18n.t('others.actions.buy'), class: 'btn-purple' %>
  </div>
<% end %>
