<div class="row">
    <div class="col-5 col-image">
      <%= image_tag 'http://thalesaugusto.com.br/food.jpg' %>
    </div>
  
    <div class="col-7">
      <div class="col title-seller"><h2><%= '@seller.name' %></h2></div>
      <p>Continuar daq o form</p>
    </div>
  </div>