<div class="row">
    <div class="col-5 col-image">
      <%= image_tag 'https://www.drdavidludwig.com/wp-content/uploads/2017/01/1-RIS_6IbCLYv1X3bzYW1lmA.jpeg' %>
    </div>
  
    <div class="col-7">
      <div class="col title-seller"><h2><%= '@seller.name' %></h2></div>
      <p>Continuar daq o form</p>
    </div>
  </div>