<h2>Sobre o projeto</h2>

<%= image_tag 'logo-colorfull.svg', width: '300px', class: 'logo_about' %>

<p style="text-indent: 3em;">
Muitos estudantes e funcionários do ambiente universitário necessitam de uma 
fonte de renda extra, e para isso vendem brigadeiros, roupas, livros e diversos 
itens. Entretanto, a visibilidade dos produtos é baixa devido a não ter um meio 
centralizado para divulgação destes produtos.
Diante disso, criado o sistema Mercado Universitário para que fosse facilitad e 
desse visibilidade ao mercado informal dentro das universidades de todo Brasil. 
A UESC será a universidade piloto nesse projeto.
</p>

<p style="text-indent: 3em;">
Por meio do Mercado Universitário será possível cadastrar produtos para venda, 
gerenciar os pedidos, atribuir avaliações aos vendedores, e tudo isso será 
totalmente grátis! O atual projeto encontra-se em sua fase inicial, futuramente 
prete-se desenvolver um aplicativo para Android e IOS para complementar o projeto.
</p>